<Project>
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <PublishProvider>FileSystem</PublishProvider>
    <PublishDir>bin\Release\net10.0\publish\smarterasp\</PublishDir>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>
